$background_color--dark: #03142a;
$pink_color--dark: #ffa5c3;
$button_color--dark: #111f3a;
$heading_color--dark: #4d618b;
$white_color--dark: #ffffff;
$heading_size--h1: 32px;
$heading_size--h2: 16x;
