.landing-container {
  background-color: #ffffff;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  line-height: 1.2;
  overflow-x: hidden;
}

.hero-h1 {
  color: #071250;
  font-size: 3rem;
  margin-bottom: 0;
  text-align: center;
}

.hero-para {
  margin-top: 30px;
  color: #060d36;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  text-align: center;
  margin-bottom: 30px;
}

@media (max-width: 991px) {
  .hero-h1 {
    text-align: center;
  }

  .hero-para {
    text-align: center;
  }
}

.image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.collaborate-row {
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.collaborate-h1 {
  color: #f2effd;
  font-weight: 500;
  font-size: 2rem;
  padding: 8px;
}

.icon-right {
  margin-left: 25px;
}

.on-hover {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  border: 3px solid #2b2222;
  background-color: #071250 !important;
}

.collaborate-h1::after {
  display: flex;
  content: "";
  width: 0;
  height: 1px;
  transition: width 0.3s;
}

.collaborate-h1:hover::after {
  width: 100%;
  transition: width 0.3s;
}

.on-hover:hover {
  cursor: pointer;
}

.on-hover::after {
  background-color: aquamarine;
  color: beige;
}

@media (max-width: 499px) {
  .collaborate-h1 {
    font-size: 1.8rem;
  }

  .landing-container {
    padding: 0;
  }
}
