@import "./global_styling/variables.scss";

.home_page {
	&__container {
		position: fixed;
		overflow: auto;
		height: 100%;
		width: 100%;
		margin: auto;
		text-align: center;
		background-color: $background_color--dark;
		background-image: url("/images/background.png");
		background-repeat: no-repeat;
		background-size: cover;
	}

	&__input_box {
		color: #fff;
	}
	&__heading {
		font-size: 48px;
		color: $white_color--dark;
	}

	&__sub-heading {
		font-size: 34px;
		color: $heading_color--dark;
	}

	&__url_container {
		width: 30%;
		height: auto;
		min-width: 400px;
		text-align: center;
		margin: auto;
	}

	&__text {
		color: $white_color--dark;
	}

	&__join_button {
		padding: 10px;
		background-color: $pink_color--dark;
	}
}
