.header-container {
	background-color: #07011d !important;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	padding: 5px;
}

.navbar {
	background-color: #07011d !important;
}

.navbar-brand {
	font-family: "IBM Plex Sans", sans-serif;
	font-weight: 500;
	color: #f4f4f4 !important;
}

.nav-link {
	font-family: "IBM Plex Sans", sans-serif;
	font-weight: 400;
	color: #f4f4f4 !important;
}

.navbar-nav > a {
	margin-right: 30px !important;
}

.nav-link::after {
	display: flex;
	content: "";
	width: 0;
	height: 1px;
	padding-top: 2%;
	background: rgba(255, 255, 255, 0.5);
	transition: width 0.3s;
}

.nav-link:hover::after {
	width: 100%;
	transition: width 0.3s;
}